<div class="container text-center">
  <h3>ジェンダーについて</h3>
  今話題のジェンダー問題。
  良くも悪くも注目されていますよね。
  多様性と言いながら、肩身が狭くなってしまった。
　ジェンダー＝多様性、ダイバーシティ　という考えの人もいるのではないでしょうか？
　
　ジェンダーとは、性的少数派のことで、いわゆるLGBTQ+のこと。
　L：レズビアン
　G：ゲイ
　B：バイセクシャル
　T：トランスジェンダー
　Q：クエッショニング、クィア
　＋：etc...
　
　という意味があります。
　
　「いや、多すぎて覚えきれんわww」という方もいるかもしれません。
　では、ひとつひとつ説明します。
　
　➀『レズビアン』
　レズビアンとは、女性が女性を恋愛的に好きになるジェンダーのことです。
　いわゆる同性愛者のことです。
　➁『ゲイ』
　ゲイとは、男性が男性を恋愛的に好きになるジェンダーのことです。
　こちらもレズビアンと同じように同性愛者です。
　
　ここまでは皆さんも聞いたことがあるのではないでしょうか？
　
　➂『バイセクシャル』
　バイセクシャルとは、男性も女性も恋愛的に好きになる、ということです。
　恋愛的に好きになる人が性別にこだわらない方のことをいいます。
　
　➃『トランスジェンダー』
　トランスジェンダーとは、体の性と心の性が違う人のことを言います。
　例えば、体は男性だけど心は女性、逆も然りです。
　
　➄『クエッショニング/クィアなど』
　クエッショニングとは、心の性が状況によって変動したり、恋愛対象の性別が変化する方のことです。
　クィアとは、性別をそもそも持ち合わせていない方です。身体は女性ですが、心の性はどちらでもない、という方です。
</div>