<div class="container text-center">
  <h3>ジェンダーについて</h3>
  今話題のジェンダー問題。<br>
  良くも悪くも注目されていますよね。<br>
  多様性と言いながら、肩身が狭くなってしまった。<br>
　ジェンダー＝多様性、ダイバーシティ　という考えの人もいるのではないでしょうか？<br>
　
　ジェンダーとは、性的少数派のことで、いわゆるLGBTQ+のこと。<br>
　L：レズビアン<br>
　G：ゲイ<br>
　B：バイセクシャル<br>
　T：トランスジェンダー<br>
　Q：クエッショニング、クィア<br>
　＋：etc...
　
　という意味があります。<br>
　
　「いや、多すぎて覚えきれんわww」という方もいるかもしれません。<br>
　では、ひとつひとつ説明します。<br>
　
　➀『レズビアン』<br>
　レズビアンとは、女性が女性を恋愛的に好きになるジェンダーのことです。<br>
　いわゆる同性愛者のことです。<br>
　➁『ゲイ』<br>
　ゲイとは、男性が男性を恋愛的に好きになるジェンダーのことです。<br>
　こちらもレズビアンと同じように同性愛者です。<br>
　
　ここまでは皆さんも聞いたことがあるのではないでしょうか？<br>
　
　➂『バイセクシャル』<br>
　バイセクシャルとは、男性も女性も恋愛的に好きになる、ということです。<br>
　恋愛的に好きになる人が性別にこだわらない方のことをいいます。<br>
　
　➃『トランスジェンダー』<br>
　トランスジェンダーとは、体の性と心の性が違う人のことを言います。<br>
　例えば、体は男性だけど心は女性、逆も然りです。<br>
　
　➄『クエッショニング/クィアなど』<br>
　クエッショニングとは、心の性が状況によって変動したり、恋愛対象の性別が変化する方のことです。<br>
　クィアとは、性別をそもそも持ち合わせていない方です。身体は女性ですが、心の性はどちらでもない、という方です。<br>
</div>