<div class="container">
  <h4 class="mt-3 gay"><i class="fas fa-transgender"></i><i class="fas fa-question"></i><span> クエスチョニング/クィアについて</span></h4>
 <div class="border-bottom border border-dark"></div>
  <p class="mt-3">
    <span class="border-bottom border-dark">クエスチョニング</span><br>
    クエスチョニングは、性的指向や性自認について、<strong class="gay"><span>自己同一性やアイデンティティを追求する人々</span></strong>を指します。<br>
    クエスチョニングは、自分自身の性的指向や性自認について確信を持てない、疑問を抱いている人々を指す言葉です。<br>
    彼らは自分がどのような性的指向や性自認を持つのかを探求し、自己を理解するために自問自答を繰り返すことがあります。<br>
    
    クエスチョニングの人々は、しばしば異なる性的指向や性自認の可能性を探求するために時間をかけることがあります。<br>
    彼らは、自分自身の感情や経験に敏感になり、自己分析を通じて自己を発見しようとします。<br>
    
    クエスチョニングは、個々の経験や状況によって異なる期間にわたって続くことがあります。<br>
    その間、彼らは性的指向や性自認の多様性について情報を集めたり、他の人と話し合ったりすることがあります。<br>
    
    クエスチョニングは、LGBTQのスペクトラムの一部として認識されています。<br>
    LGBTQのコミュニティでは、クエスチョニングの人々をサポートし、彼らが自分自身を受け入れ、理解するための安全な環境を提供することが重要です。<br>
    
    クエスチョニングは、自己同一性の探求の過程であり、個々の人によって異なる結果に至る可能性があります。<br>
    人々は自分自身に正直になり、自分がどのように感じるのかを尊重し、受け入れることが大切です。<br>
    
  </p>
  
  <p>
    <span class="border-bottom border-dark">クィア</span><br>
    クィアは、性的指向や性自認に関する包括的な用語であり、さまざまな意味を持っています。以下に、クィアの一般的な意味といくつかの解釈を説明します。<br>
    幅広い性的指向：クィアは、伝統的な性的指向の枠組みに収まらない人々を指す場合があります。<br>
    つまり、異性愛者や同性愛者とは異なる性的指向を持つ人々を包括的に表現するために使用されます。<br>
    
    ➀ジェンダーの多様性：クィアは、伝統的な男性または女性の二元的なジェンダーモデルに当てはまらない人々を指すこともあります。<br>
                          トランスジェンダーやノンバイナリーの人々など、自身のジェンダーを多様な方法で表現する人々を含める場合があります。<br>

    ➁ 周辺性：クィアは、性的指向やジェンダーにおいて明確なラベルを持たない人々を指すこともあります。<br>
               自身のアイデンティティや経験が一つのラベルで完全に説明できない場合に、クィアを用いて自己を表現することがあります。<br>

    クィアは個人によって解釈が異なるため、特定の定義に固執する必要はありません。<br>
    重要なのは、個々の人々が自分自身をどのように識別し、表現するかを尊重することです。<br>
    クィアの使用については、個人の好みやコミュニティの文脈によって異なる場合があるため、相手のアイデンティティを尊重し、適切な用語を使用するように心がけましょう。
  </p>

  <div class="d-flex justify-content-center">
    <%= image_tag "lgbtq.png", size: "700x500" %>
  </div>
</div>
</div>