<div class="container col-sm-8">
  SOGIとは、性的指向（好きになる性）、性自認（心の性）、それぞれの英訳のアルファベットの頭文字を取った、<br>「人の属性を表す略称」です。 <br>
  異性愛の人なども含めすべての人が持っている属性のことを言います。<br>
  <div class="border border-dark mt-3"></div>
  <div class="text-left mt-3">
    <ul>
      <li>異性愛（ヘテロセクシュアリティ）自身の性別と異なる性別の者へ恋愛感情や性的願望を抱く</li>
      <li>同性愛（ホモセクシュアリティ）自身の性別と同じ性別の者へ恋愛感情や性的願望を抱く</li>
      <li>両性愛（バイセクシャアリティ）男性・女性の両方へ恋愛感情や性的願望を抱く</li>
      <li>全性愛（パンセクシュアリティ）あらゆる人々に恋愛感情や性的願望を抱く</li>
    </ul>
    <ul>
      <li>多性愛（ポリセクシュアリティ）　3つ以上の性の者へ恋愛感情や性的願望を抱くこと</li>
      <li>無性愛（アセクシュアリティ）誰にも何にも恋愛感情や性的な欲求を抱かない</li>
      <li>非性愛（ノンセクシュアリティ）恋愛感情は抱くものの他者への性的衝動が全くない</li>
    </ul>
  </div>
</div>