<div class="container">
  <h4 class="mt-3 gay"><i class="fa-solid fa-transgender"></i><span> トランスジェンダーについて</span></h4>
 <div class="border-bottom border border-dark"></div>
  <p class="mt-3">
    トランスジェンダーは、<strong class="gay"><span>生まれてきた身体的な性別と精神的（心の）性別が一致していない方</span></strong>をいいます。<br>
    つまり、トランスジェンダーの人は、生物学的な性別（体の性差）とは異なる性自認を持っています。<br>
    例えば、生まれつき男性とされた個人が、自分が女性であると感じる場合、それはトランスジェンダーの女性として自己を認識することを意味します。<br>
    同様に、生まれつき女性とされた個人が、自分が男性であると感じる場合、それはトランスジェンダーの男性として自己を認識することを意味します。<br>
    トランスジェンダーの人々は、しばしば身体的な変化や社会的な変容を経験するため、自分自身をより一致させるためのさまざまな手段を選ぶことがあります。<br>
    これには、ホルモン療法や性別適合手術などの医療的な処置、名前や代名詞の変更、外見の変化（服装や髪型の変更など）、そして法的な性別の変更などが含まれます。<br>
    トランスジェンダーの人々は、自己の性自認に応じて尊重される権利を持っています。<br>
    ジェンダーアイデンティティは個々人によって異なるため、トランスジェンダーの人々を理解し、受け入れることは重要です。<br>
    寛容と尊重をもって接し、個々人の選択とアイデンティティを尊重することが求められます。
  </p>

  <div class="d-flex justify-content-center">
    <%= image_tag "transgender.png", size: "500x250" %>
  </div>
</div>
</div>