<div class="container text-center">
  
  <% @genders.each do |gender| %>
    <%= link_to user_path(gender.user.id) do %>
      <%= gender.user.user_name %>
    <% end %>
    <%= link_to gender_path(gender) do %>
      <%= gender.title %>
    <% end %>
  <% end %>
</div>